<li>
  <%= link_to topic.title, topic_path(topic.id) %>
  <div class="test" style="padding: 30px">
    <div class="tag">
      Title:  <%= topic.title %><br />
      Description: <%= topic.description %><br />

    </div>
  </div>
</li>
