<style>

.tablecontainer {
  background-color: #4D4D4D;
  padding: 25px;
  width:825px;
  border-radius: 25px;

}

.tablebody {
  width: 750px;
}

.tabletitle {
  font-family: 'Brandon Grotesque';
  position: relative;
  color: white;

}

.searchres {
  font-size: 25px;
}


</style>
<html>

<p id="notice"><%= notice %></p>
<center>
<div class= "tablecontainer">

<h2 class = "tabletitle">SUBJECTS FOUND FOR YOU</h2>



    <% @subjects.each do |subject| %>
      <tr>

        <p class = 'searchres'>
        <td><%= link_to subject.name, subject %></td><br>
      </p>

    <% end %>
</p>
</div>
</center>
<br>

<center>
<% if !user_signed_in? %>
 <p class ='add-subject'>
 <%= link_to ' Create a new subject', new_subject_path %>
 </p>
 <% else %>
 <% end %>
</center>
