<style>

.tablecontainer {
  background-color: #4D4D4D;
  padding: 25px;
  width:825px;
  border-radius: 25px;
  font-family: 'Brandon Grotesque';
  color:white;
  text-align: justify;

}

</style>

<center>
<div class= "tablecontainer">
  <h3>SUBJECTS FOUND FOR YOU:</h3><br>

  <% if @subjects.count > 0 %>
      <%= render @subjects %>
  <% else %><br>
    <p>There are no posts containing the term(s) <%= params[:search] %>.</p>
  <% end %>
</div>
</center>
</div>
