.login {
  margin-left: 32%;
  width: 35%;
  text-align: center;
  background: #b9a489;
  background-color: rgba(185, 164, 137, 0.7);
  border: 1px solid white;

}
.login-field input {
  width: 35%;
  margin-left: 35%;
}
.login h1 {
  text-align: center;
}

.register {
  margin-left: 32%;
  width: 35%;
  text-align: center;
  background: #b9a489;
  background-color: rgba(185, 164, 137, 0.7);
  border: 1px solid white;
}
.register-field input {
  width: 35%;
  margin-left: 35%;
}
.register h1 {
  text-align: center;
}
