.alert {
  text-align: center;
  background: red;
  background-color: rgba(255,0,0, 0.5);
  width: 38%;
  font-size: 30px;
  margin-left: 30%;
}
.notice {
  text-align: center;
  background: green;
  background-color: rgba(25,255,0, 0.5);
  width: 38%;
  font-size: 30px;
  margin-left: 30%;
}
