<br>
<footer>
    <a class="logofooter" href="/welcome/index"><%=image_tag("logo1.png")%></a>

    <div class="textfooter">
      <a href="/welcome/index"> Home /</a>
      <a href="/users"> All Stutors /</a>
      <a href="/contact"> Contact </a>
  </div>

</footer>
