  <br>
<footer>
    <%= link_to image_tag("logo1.png"), root_path, class: "logofooter"%></a>

    <div class="textfooter">
      <%= link_to "Home", root_path %>
      / <%= link_to "Subjects", subjects_path %> /
      <%= link_to "Contact", contact_path %>
  </div>

</footer>
