<header>
  <div class="logo"><a href="/welcome/index"><%=image_tag("logo1.png")%></a></div>
  <div class="textheader">
    <a href="/welcome/index"> Home /</a>
    <a href="/users"> All Stutors /</a>
    <a href="/contacts"> Contact </a>
    <div class="Singupheader">
    <% if !user_signed_in? %>
    <%= link_to "(Log In)", new_user_session_path %>
    <% else %>
    <%= current_user.email %>
    <%= link_to "(Log Out)", destroy_user_session_path, :method => :delete %>
    <% end %>
  </div>
 </div>
</header>
