<style>
.tablecontainer {
  background-color: #4D4D4D;
  padding: 25px;
  width:825px;
  border-radius: 25px;
  color:white;

}
</style>

<center>
<div class ='tablecontainer'>
  <h3>New Class</h3>
<%= render 'form' %>

<%= link_to 'Back', klasses_path %>
</div>
</center>
